$color1: hsl(238, 29%, 16%); //Very dark desaturated blue
$color2: hsl(14, 88%, 65%); //Soft red

$fColor1: hsl(237, 12%, 33%); //Very dark grayish blue
$fColor2: hsl(240, 6%, 50%); //Dark grayish blue

$fFamily: 'Kumbh Sans', sans-serif;
$fSize: 0.75rem;

@mixin font($size: 0.75rem, $weight: 400, $color: $fColor1) {
    font-family: $fFamily;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}


*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;

}

#showcase {
    min-height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    background: white url("./images/bg-pattern-mobile.svg") no-repeat center top;
    width: 340px;
    border-radius: 20px;
    padding-top: 100px;
    box-shadow: 0px 20px 35px 5px hsla(0, 0%, 0%, 0.3);

    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    #headerImageMobile{
        position: absolute;
        width: calc(100% - 100px);
        top: -107px;
    }
    h1 {
        margin: 10px 0px;
        @include font($size: 2.25rem, $weight: 700);
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin: 30px;

        width: 80%;
    }

    li {
        padding: 10px 0px;
        border-bottom: 1px solid hsl(240, 5%, 91%);
    }
    
    .btn{
        display: flex;
        justify-content: space-between;
    }

    .btn img{
        align-self: center;
    }

    .btn:hover span {
        color: $color2;
    }

    li span {
        @include font(0.850rem, 400, $fColor2);
    }

    li p {
        @include font($color: $fColor2);
    }

    #headerBoxDesktop, li input {
        display: none;
    }

    li p {
        max-height: 0px;
        margin: 0px;
        opacity: 0;
        transition: 0.4s ease-in-out;

        overflow: hidden;
    }

    li input:checked ~ p {
        flex: 1 1 100%;
        max-height: 15rem;
        margin: 10px;
        opacity: 1;
        transition: 0.4s ease-in-out;
    }

    li input:checked ~ .btn > span {
        color: $fColor1;
        font-weight: 700;
    }

}

@media only screen and (min-width:1439px) {
    #card {
        width: 855px;
        max-height: 855px;
        padding-top: 0px;
        padding-left: 430px;
        // background: url("./images/bg-pattern-desktop.svg") no-repeat left 600% bottom 30%,
        //             url("./images/illustration-woman-online-desktop.svg") no-repeat left top;

        background-color: white;
        background-image: url("./images/illustration-woman-online-desktop.svg"),
            url("./images/bg-pattern-desktop.svg");
        background-position: right 125% bottom 70%, 
            left 535% bottom 30%;

        align-items: flex-start;
        justify-content: center;

        h1 {
            margin-left: 30px;
        }

        #headerImageMobile {
            display: none;
        }
        #headerBoxDesktop {
            display: block;
            position: absolute;
            right: 90%;
            top: 35%;
        }
    }
}


.attribution { color: white; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }